.progress1{
	font-size:8px!important;

}
td{
	font-size:12px;
}
.ui.progress .bar{
	background:linear-gradient(#56ccf2,#2f80ed)!important;
	min-width:0em;
}
.card{
	background-color:#ffffff;
	box-shadow:0 1px 15px rgba(0,0,0,.04)
				0 1px 6px rgba(0,0,0,.04);
	border-radius:0.75em;
	padding:15px;
}
.card p{
	font-size:1.2rem;
	color:#3a3a3a;
	font-weight: 600;
}
line{
	stroke:white;
}
circle{
	margin-left: 30%!important;
	margin-top:5%;
}

.box{
	margin-top:4px;
	margin-left:5px;
	margin-right:2px;
}
.styles_square__2WCBo{
	border:1px solid white!important;
}

