#login .icon {
    color: #005EDC;
    margin: auto!important;
    padding-bottom: 2em;
    height: 100%!important;
}

#login .checkbox {
    padding: 0px!important;
}

#login .form-group {
    margin-bottom: 1000px!important;
}
