input{
	background-color:rgb(241,242,246)!important;
	border:0px!important;
	color:rgb(47,53,66)!important;
}
.ui.fluid.selection.dropdown {
	background-color:rgb(241,242,246)!important;
	border:0px!important;
	
}
.divider.text{
	color:#015edc!important;
}
label{
	color:rgb(164,176,190)!important;
	margin-bottom:16px!important;

}
#form-input-control-project:hover{
	transform:scale3d(1.01,1.2,12);
}


.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}
.checkbox{
	width:25%;
	padding:5px;
}
.csv:hover{
	background-color:#015edc!important;
	color:white!important;
	border:1px solid white!important;
}
.ui.modal>.close{
	margin-right:35px;
	margin-top:35px;
	color:black!important;
}
.ui.fullscreen.modal>.close{
margin-right:35px;
	margin-top:35px;
	color:black!important;	
}
.ui.fullscreen.modal{
	left:10!important;
}
