input{
	background-color:rgb(241,242,246)!important;
	border:0px!important;
	color:rgb(47,53,66)!important;
}
.ui.selection.dropdown{
	background-color:rgb(241,242,246)!important;
	border:0px!important;
}
label{
	color:rgb(164,176,190)!important;
	margin-bottom:16px!important;

}
#form-input-control-project:hover{
	transform:scale3d(1.01,1.2,12);
}


.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}
.checkbox{
	width:25%;
	padding:5px;
}