.ui.button{
	background-color:#4e73df;
}
.error-msg {
  color: red;
  margin: 5px 0;
  font-weight: bold;
}
	

.input:hover {
	animation:mymove 2s;
	border:0px;
	
}
@keyframes mymove{
	50% {box-shadow:10px 20px 30px #015EDC;}
}