.ui.menu .item,{
	padding:1.2rem 1.4rem !important;
	border:0px;
	font-size:17px;
	letter-spacing: 0.5px;
	text-align:justify-all;
	float:center;
	transition: none

}
.ui.vertical.menu .item:before{
	height:0px !important;
}
.ui.menu .item a ,.accordion .title a {
	text-align: left;
	color:rgba(0,0,0,0.7);
	padding-left:10px;
	width:150px;
	font-family:'Montserrat';
	font-weight:400;

}

.ui.menu .item a:hover,.accordion .title a:hover{
	color:#1d99e8;
	transform:scale(1.2);
	
	
}
.ui.menu .item a i,.acccordion .title a i{
	margin-right:10px;
	text-align:justify;
}
.ui.left.visible.sidebar,
.ui.right.visible.sidebar{
	box-shadow:none !important;
	border:1px solid white; 
}

.ui.visible.left.overlay.sidebar{
	margin-top:79.28px !important;

}
.ui.wide.left.sidebar{
	width:15%!important;
	border-right:1px solid rgba(34,36,38,0.15) ;
	background-color:#f7f6f6;
}